Repository wtgtybhertgeghgtwtg/env-and-files: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore(deps): update dependency eslint-plugin-unicorn to v29
  package.json
Due: prettier --write

chore(deps): update dependency husky to v6
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v30
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v31
  package.json
Due: prettier --write

chore(deps): update jest monorepo to v27
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.3.0
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v32
  package.json
Due: prettier --write

chore: update formatting dependencies
  .eslintrc.js
  __mocks__/fs.ts
  package.json
  source/config-error.ts
  source/load-config-sync.ts
  source/load-config.ts
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore: switch to lefthook
  .huskyrc.yaml
  .lintstagedrc.yaml
  lefthook.yaml
  package.json
Due: prettier --write

chore: update dev dependencies (#221)
  .eslintrc.js
  .huskyrc.yaml
  .lintstagedrc.yaml
  __mocks__/fs.ts
  lefthook.yaml
  package.json
  source/config-error.ts
  source/load-config-sync.ts
  source/load-config.ts
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

docs: update example in README.md
  README.md
Due: prettier --write

docs: update example in README.md (#222)
  README.md
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v33
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.3.1
  package.json
Due: prettier --write

fix(deps): update dependency p-props to v5
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.3.2
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v34
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v13
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v35
  package.json
Due: prettier --write

fix: prepare for TypeScript 4.4
  .babelrc.js
  package.json
  rollup.config.js
  source/format-property.ts
  source/load-config.ts
  source/load-file-property-sync.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

fix: prepare for TypeScript 4.4 (#230)
  .babelrc.js
  package.json
  rollup.config.js
  source/format-property.ts
  source/load-config.ts
  source/load-file-property-sync.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

Notes added by 'git notes add'
  ad711c944ea518e3033133a7d78330ba20e50537
Due: none

test: use `@ts-expect-error`
  __tests__/load-config-sync.test.ts
  __tests__/load-config.test.ts
  source/format-property.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

test: use `@ts-expect-error` (#231)
  __tests__/load-config-sync.test.ts
  __tests__/load-config.test.ts
  source/format-property.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore(deps): update dependency @types/jest to v27
  package.json
Due: prettier --write

feat: inline type from `@types/node`
  .eslintrc.js
  package.json
  rollup.config.js
  scripts/jest/config.dist.js
  scripts/jest/config.source.js
  source/is-environment-config.ts
  source/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

Path conditions:
  prettier --write: ((any of: *.{json,md,yaml}) or (any of: *.{js,ts})) or ((any of: *.{json,md}) or (any of: *.{js}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{js})
  jest --config ./scripts/jest/config.source.js --bail --findRelatedTests: (any of: *.{js,ts}) or (any of: *.{js})
