Repository wtgtybhertgeghgtwtg/env-and-files: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

.lintstagedrc.yaml:

'*.{json,md,yaml}':
  - 'prettier --write'
'*.{js,ts}':
  - 'prettier --write'
  - 'eslint --fix'
  - 'jest --config ./scripts/jest/config.source.js --bail --findRelatedTests'

.lintstagedrc.yml:

linters:
 "*.{json,md}": ["prettier --write", "git add"]
 "*.{js}": ["prettier --write", "eslint --fix", "git add", "jest --config ./scripts/jest/config.source.js --bail --findRelatedTests"]

feat: inline type from `@types/node` (#233)
  .eslintrc.js
  package.json
  rollup.config.js
  scripts/jest/config.dist.js
  scripts/jest/config.source.js
  source/is-environment-config.ts
  source/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

Notes added by 'git notes add'
  cea68fd63b2f6828cd6fd2bf6ccd420f2d447d12
Due: none

chore(deps): update dependency typescript to ~4.4.0
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.4.0
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v36
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.4.1
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v14
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v37
  package.json
Due: prettier --write

build: pin major version of `semantic-release`
  .circleci/config.yml
Due: none

build: pin major version of `semantic-release` (#242)
  .circleci/config.yml
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v38
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-ts to v2
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v15
  package.json
Due: prettier --write

chore(deps): update dependency typescript to ~4.5.0
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v39
  package.json
Due: prettier --write

style: remove superfluous TypeScript annotations
  __tests__/load-config-sync.test.ts
  __tests__/load-config.test.ts
  source/load-property-sync.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

style: remove superfluous TypeScript annotations (#248)
  __tests__/load-config-sync.test.ts
  __tests__/load-config.test.ts
  source/load-property-sync.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore(deps): update dependency prettier to v2.5.0
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.5.1
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v8
  package.json
Due: prettier --write

chore: bump `eslint`
  package.json
Due: prettier --write

chore: bump `eslint` (#251)
  package.json
Due: prettier --write

chore: remove unused dependencies
  package.json
Due: prettier --write

chore: remove unused dependencies (#252)
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v16
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v40
  package.json
Due: prettier --write
