Repository wtgtybhertgeghgtwtg/env-and-files: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

.lintstagedrc.yaml:

'*.{json,md,yaml}':
  - 'prettier --write'
'*.{js,ts}':
  - 'prettier --write'
  - 'eslint --fix'
  - 'jest --config ./scripts/jest/config.source.js --bail --findRelatedTests'

.lintstagedrc.yml:

linters:
 "*.{json,md}": ["prettier --write", "git add"]
 "*.{js}": ["prettier --write", "eslint --fix", "git add", "jest --config ./scripts/jest/config.source.js --bail --findRelatedTests"]

chore(deps): update dependency eslint-plugin-unicorn to v40
  package.json
Due: prettier --write

feat: export `UnwrapConfigMap`
  source/index.ts
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

feat: export `UnwrapConfigMap` (#255)
  source/index.ts
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

Notes added by 'git notes add'
  d0cf063810eee62d4e21aa8a5c7bdd274a117d33
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v41
  package.json
Due: prettier --write

chore: bump `eslint-plugin-unicorn`
  package.json
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore: bump `eslint-plugin-unicorn` (#257)
  package.json
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore(deps): update dependency typescript to ~4.6.0
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.6.0
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.6.1
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.6.2
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to v42
  package.json
Due: prettier --write

chore(deps): update jest monorepo to v28
  package.json
Due: prettier --write

chore: dependecy change updates
  .circleci/config.yml
  .eslintignore
  .gitignore
  lefthook.yaml
  package.json
  scripts/jest/config.distribution.js
  tsconfig.json
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore: dependecy change updates (#264)
  .circleci/config.yml
  .eslintignore
  .gitignore
  lefthook.yaml
  package.json
  scripts/jest/config.distribution.js
  tsconfig.json
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore(deps): update commitlint monorepo to v17
  package.json
Due: prettier --write

chore(deps): update dependency typescript to ~4.7.0
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-ts to v3
  package.json
Due: prettier --write

chore: update required `node` version BREAKING CHANGE: drops `node@12`
  .circleci/config.yml
  .eslintrc.js
  __mocks__/fs/promises.ts
  __tests__/load-config.test.ts
  package.json
  rollup.config.js
  source/load-file-property.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore: update required `node` version (#268)
  .circleci/config.yml
  .eslintrc.js
  __mocks__/fs/promises.ts
  __tests__/load-config.test.ts
  package.json
  rollup.config.js
  source/load-file-property.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

Notes added by 'git notes add'
  3eb32ff036dacb334ed90b7a26c82c21e3ef7391
Due: none

chore(deps): update dependency @types/jest to v28
  package.json
Due: prettier --write

chore: move to non- deprecated `lefthook` package `@arkweid/lefthook` to `@evilmartians/lookhook`
  .commitlintrc.yaml
  package.json
Due: prettier --write

chore: move to non- deprecated `lefthook` package (#270)
  .commitlintrc.yaml
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.7.0
  package.json
Due: prettier --write

refactor: clean up some types
  source/config-error.ts
  source/format-property.ts
  source/load-config-sync.ts
  source/load-config.ts
  source/load-environment-property.ts
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

refactor: clean up some types (#272)
  source/config-error.ts
  source/format-property.ts
  source/load-config-sync.ts
  source/load-config.ts
  source/load-environment-property.ts
  source/types.ts
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore(deps): update dependency prettier to v2.7.1
  package.json
Due: prettier --write

chore: fix `eslint` dependencies
  package.json
Due: prettier --write

chore: fix `eslint` dependencies (#277)
  package.json
Due: prettier --write

chore: update dependencies
  .eslintrc.js
  package.json
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore: update dependencies (#288)
  .eslintrc.js
  package.json
Due: prettier --write, eslint --fix, jest --config ./scripts/jest/config.source.js --bail --findRelatedTests

chore: pin
  .circleci/config.yml
Due: none
